.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}
.main {
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 15px;
  width: max-content;
}
